<%- contentFor('style') %>
<style>
    h3 {
        color: green;
    }
</style>

<%- contentFor('body') %>
<div class="container pt-3">
    <h3>
        <%= pageTitle %>
    </h3>
    <hr>
    <a href="/product-list" class="btn btn-primary mb-2">
        <i class="fa-solid fa-arrow-left-long"></i>
        Back
    </a>
    <form action="/product-list/create-product" method="post">
        <div class="mb-3">
            <label class="form-label">Image</label>
            <input type="text" class="form-control" name="image" value="https://incredideals.co/cdn/shop/files/MYPD3ref_VW_34FR_watch-case-49-titanium-black-ultra2_VW_34FR_watch-face-49-ocean-ultra2_VW_34FR_GEO_AE.webp?v=1737334330" required autofocus>
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="text" class="form-control" name="price" required>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>

</div>

<%- contentFor('script') %>
