<%- contentFor('style') %>
<style>
    h3 {
    color: red;
}
</style>

<%- contentFor('body') %>
<div class="container pt-3">
    <h3>
        <%= pageTitle %>
    </h3>
</div>

<%- contentFor('script') %>
<script>alert("Hello")</script>